@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }
  .btn-primary {
    @apply rounded-lg bg-primary-light text-white px-4 py-2
           dark:bg-primary-dark;
  }
}